In [25]:
import sqlite3

## DB 접속 방법
1. 지정된 DB로 연결됨을 나타내는 connection 객체를 만든다.
2. 쿼리를 다룰 수 있는 커서(Transaction control)를 만든다.

In [26]:
db_file = "data/answers.sqlite"
conn = sqlite3.connect(db_file)
cursor = conn.cursor()
# 작업을 더는 진행하지 않는다면  `cursor.close()`, `conn.close()` 같이 명시적 자원 해제를 하거나,
# `with` 콘텍스트 관리자 하에서 작업을 실시한다.

## 쿼리 실행
1. 쿼리를 파이썬 문자열로 생성.
2. 쿼리를 커서 객체의 `execute` 메소드로 넘겨 실행.
3. 'SELECT' 문 같이 튜플이 리턴되는 쿼리는 실행 결과를 변수로 받아 다시 `fetch`나 `fetchall`로 확인 가능.

In [13]:
tab_creation = """CREATE TABLE student
(
    id      INTEGER PRIMARY KEY NOT NULL,
    name    varchar(32),
    age     INTEGER,
    address varchar(32)
);"""

In [14]:
cursor.execute(tab_creation)

In [35]:
find_tab = """SELECT *
FROM sqlite_schema
WHERE type = 'table'
  AND name NOT LIKE 'sqlite_%';"""

tabs = cursor.execute(find_tab)
tabs.fetchall()

[('table',
  'student',
  'student',
  2,
  'CREATE TABLE student\n(\n    id      INTEGER PRIMARY KEY NOT NULL,\n    name    varchar(32),\n    age     INTEGER,\n    address varchar(32)\n)')]

In [27]:
data_insertion = """INSERT INTO student
(name, age, address)
VALUES ('이혜리', 15, '서울 팔달구');"""

cursor.execute(data_insertion)
conn.commit()  # 데이터 변경 질의는 이 메소드 호출이 필요.

In [36]:
list_students = "select * from student;"
students = cursor.execute(list_students)
students.fetchall()

[(1, '김학준', 34, '경산시'), (2, '이혜리', 15, '서울 팔달구')]